*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
.container {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}
  
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  
